{% extends "layout.html.twig" %}

{% block title 'Admin articles' %}
    
{% block content %}
    <div class="jumbotron">
        <h2>Articles</h2>
    </div>
    <p><a href="{{ path('admin_article_edit') }}">Ajouter un article</a></p>
    <table class="table afflist">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Résumé</th>
            <th>Rubrique</th>
        <!--    <th>Contenu</th>-->
            <th></th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.short_content }}</td>
                <td>{{ article.categoryName }}</td>
        <!--        <td>{#{ article.content }#}</td>-->
                <td>
                    <div class="btn-group">
                        <a href="{{ path('admin_article_edit',{id: article.id}) }}"
                           class="btn btn-primary btn-xs">
                           <span class="glyphicon glyphicon-pencil"></span>Modifier
                        </a>
                        <a href="{{ path('admin_article_delete',{id: article.id}) }}"
                           class="btn btn-danger btn-xs">
                           <span class="glyphicon glyphicon-remove"></span>Supprimer
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
