<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %} - Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand">Menu Admin</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('admin_categories') }}">Rubriques</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_articles') }}">Articles</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">Blog</a>
                {{ render(url('categories')) }}
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                        <a href="{{ path('register') }}">Créer un compte</a>
                    </li>
                </ul>
            </div>
        </nav>
            <div class="container">
                {% for label, flashes in global.session.flashbag.all %}
                    {% for flash in flashes %}
                        {% if label == 'error' %}
                            {% set label = 'danger' %}
                        {% endif %}
                        <div class="alert alert-{{ label }}">{{ flash }}</div>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}    
    </body>
</html>
